@import url("https://fonts.googleapis.com/css2?family=Oleo+Script+Swash+Caps&display=swap");

.groups {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  padding: 1rem 2rem;
  width: 70%;
  background-color: rgba(255, 255, 255);
  border-radius: 10px;
  align-self: center;
  box-shadow: 0 1px 1px hsl(0deg 0% 0% / 0.075), 0 2px 2px hsl(0deg 0% 0% / 0.075),
    0 4px 4px hsl(0deg 0% 0% / 0.075), 0 8px 8px hsl(0deg 0% 0% / 0.075),
    0 16px 16px hsl(0deg 0% 0% / 0.075);
  position: relative;
}

.groups-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.groups-title {
  color: #e1c699;
  font-family: "Oleo Script Swash Caps", cursive;
  font-size: 2.5rem;
  align-self: center;
}
