@import url("https://fonts.googleapis.com/css2?family=Oleo+Script+Swash+Caps&display=swap");

.customer-orders {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  padding: 1rem 2rem;
  width: 70%;
  background-color: rgba(255, 255, 255);
  border-radius: 10px;
  align-self: center;
  box-shadow: 0 1px 1px hsl(0deg 0% 0% / 0.075), 0 2px 2px hsl(0deg 0% 0% / 0.075),
    0 4px 4px hsl(0deg 0% 0% / 0.075), 0 8px 8px hsl(0deg 0% 0% / 0.075),
    0 16px 16px hsl(0deg 0% 0% / 0.075);
  position: relative;
}

.customer-orders-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.customer-orders-title {
  color: #e1c699;
  font-family: "Oleo Script Swash Caps", cursive;
  font-size: 2.5rem;
  align-self: center;
}

.customer-orders-top {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.customer-orders-top button {
  position: absolute;
  right: 25px;
  cursor: pointer;
  border: 2px solid #333;
  color: #333;
  font-weight: 500;
  background-color: transparent;
  padding: 0.2rem 0.4rem;
  border-radius: 5px;
  transition: background-color 0.1s ease-in-out, color 0.1s ease-in-out;
}

.customer-orders-top button:hover {
  color: white;
  background-color: #333;
}

.spinner-container {
  align-self: center;
  width: 100px;
  height: 100px;
  transform: translateX(25%);
  margin-top: 1rem;
}
