.order-status {
  color: #333;
  font-weight: 500;
  font-size: smaller;
}

.item-order-container {
  display: flex;
  gap: 1rem;
}

.dropdown {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.2rem;
}

select {
  border-radius: 5px;
  cursor: pointer;
}

.item-and-status {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
