body {
  width: 100vw;
  height: 100vh;
  background-image: url("/public/blob-haikei.svg");
  background-size: cover;
  color: white;
  overflow-x: hidden;
}

.App {
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.title {
  padding: 0.3rem 1rem;
  width: fit-content;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  margin: auto;
}

.search-input {
  border: solid 1px whitesmoke;
  border-radius: 5px;
  background-color: white;
  color: #333;
  padding: 0.3rem 0.5rem;
}

.search-btn {
  background-color: transparent;
  padding: 0.3rem 0.5rem;
  border: solid 2px #333;
  border-radius: 5px;
  color: #333;
  cursor: pointer;
  transition: background-color 0.1s ease-in-out, color 0.1s ease-in-out;
}

.search-btn:hover {
  background-color: #333;
  color: white;
}

.striped {
  align-self: center;
  font-size: 64px;
  background-size: 64px;
  background-clip: text;
  color: transparent;
  background-color: #333;
  background-image: linear-gradient(
    45deg,
    rgba(225, 198, 153, 0.51) 25%,
    transparent 25%,
    transparent 50%,
    rgba(225, 198, 153, 0.51) 50%,
    rgba(225, 198, 153, 0.51) 75%,
    transparent 75%,
    transparent
  );
}
